.hero{
  height: 80vh;

}.logo {
  width: 130px;
  height: 130px;
}
.text{
  font-weight: 600;
  font-size: 55px;

}
/* .heading{
  width: 600px;
} */
 .heading{
  max-width: 600px;
  margin: 0 auto;   /* centers the box */
}
.text2{
  color: #595C5F;
   max-width: 850px;
  margin: 0 auto; 
  font-size: x-large;
}
span{
  background-color: #d8d9db;
  border-radius: 10px;
}
.text1{
   font-weight: 600;
  font-size: 40px; 
}
.bg{
 background: #FEFEFF;
background: linear-gradient(0deg, rgba(254, 254, 255, 1) 0%, rgba(236, 237, 241, 1) 82%);
}
.img{
  height: 400px;
  width: 860px;
}

.main-heading {
  font-size: 52px;
  font-weight: 600;
  color: #1c1e21;
  margin-bottom: 20px;
}

.desc {
  font-size:20px;
  color: #4b5563;
  line-height: 1.7;
  margin-bottom: 18px;
}




.news-label {
  font-size: 13px;
  font-weight: 700;
  color: #6b7280;
  margin-bottom: 15px;
}

.news-card {
  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 50px 20px;
  height: 100%;
  background: white;
  transition: 0.2s ease;
}

.news-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.news-card h5 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111827;

}

.news-card h5:hover{
  text-decoration: underline;
}
.news-card p {
  font-size: 14px;
  color: #6c6f74;
  margin: 0;
}

.marquee-wrapper {
  width: 100vw;          /* full screen */
  margin-left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  padding: 30px 0;
  background: #f5f6f8;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.marquee-item {
  flex: 0 0 auto;
  margin-right: 20px;
}





.marquee-item img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
}

/* Infinite scroll */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.marquee-item img {
  width: 320px;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-style: preserve-3d; /* allows 3D tilt */
}

.marquee-item img:hover {
  transform: perspective(500px) rotateY(10deg) scale(1.05);
  box-shadow: 0 15px 25px rgba(0,0,0,0.3);
}

